body.en div#intro {
background:transparent url(/images/en/index-intro-bg.png) no-repeat scroll 0 0;
height:117px;
}

ul.profileimglist li label.thumb-container:hover span.selecter {
  background-image: url(/images/en/selecter-hover.gif);
}
ul.memolist li img.thumb{
    background:#d9d9d9 url("loading-en.png") no-repeat 5px 5px;
}
