body.fr div#intro {
  background-image: url(/images/fr/index-intro-bg.png);
}

ul.profileimglist li label.thumb-container:hover span.selecter {
  background-image: url(/images/fr/selecter-hover.gif);
}

div#global ul.menu li{
font-size:0.9em;
}
ul.memolist li img.thumb{
    background:#d9d9d9 url("loading-fr.png") no-repeat 5px 5px;
}
