body.it div#intro {
  background-image: url(http://ugomemo.hatena.ne.jp/images/it/index-intro-bg.png);
}

ul.profileimglist li label.thumb-container:hover span.selecter {
  background-image: url(http://ugomemo.hatena.ne.jp/images/it/selecter-hover.gif);
}
ul.memolist li img.thumb{
    background:#d9d9d9 url("http://ugomemo.hatena.ne.jp/css/loading-it.png") no-repeat 5px 5px;
}
